.DS_Store

xcuserdata
*.xcuserstate

*.xccheckout
*.meta
*.xcbkptlist

*.pyc

build/*
DerivedData/*

BeiBei2DXLua/frameworks/runtime-src/proj.android/assets
BeiBei2DXLua/frameworks/runtime-src/proj.android/libs/armeabi
BeiBei2DXLua/frameworks/runtime-src/proj.ios_mac/build
BeiBei2DXLua/frameworks/runtime-src/proj.ios_mac/BeiBei2DXLua.xcodeproj/xcuserdata/*.xcuserdatad

BeiBei2DXLua/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/build
BeiBei2DXLua/frameworks/cocos2d-x/plugin/plugins/*/proj.android/bin/*
BeiBei2DXLua/frameworks/cocos2d-x/plugin/publish
BeiBei2DXLua/frameworks/cocos2d-x/build
BeiBei2DXLua/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.ios_mac/build

BeiBei2DXLua/runtime/android
BeiBei2DXLua/runtime/ios
BeiBei2DXLua/runtime/mac

BeiBei2DXLua/publish

BookSoundBag

raw/tmp
raw/tmp_xxtea

userconf.ini

DerivedData
local.properties
# *.class
# *.d
# *.a
# *.o
environment.sh

bin
obj
gen
contents.xcworkspacedata
org.eclipse.ltk.core.refactoring.prefs
BeiBei2DXLua/frameworks/runtime-src/proj.android/src/c/bb/dc/AppVersionInfo.java
BeiBei2DXLua/frameworks/runtime-src/proj.ios_mac/ios/AppVersionInfo.h
BeiBei2DXLua/src/AppVersionInfo.lua
BeiBei2DXLua/frameworks/runtime-src/proj.android/AndroidManifest.xml
BeiBei2DXLua/frameworks/runtime-src/proj.android/src/c/bb/dc/notification/BBPushNotificationService.java
# BeiBei2DXLua/frameworks/runtime-src/proj.android/src/com/beibei/wordmaster

tmp_apk
tmp_asset

BeiBei2DXLua/frameworks/runtime-src/proj.android/src/c/bb/dc/MyProgressDialog.java

BeiBei2DXLua/src/model/words

App.java
