.DS_Store

xcuserdata
*.xcuserstate

*.xccheckout
*.meta
*.xcbkptlist

build/*
DerivedData/*

CocosLuaGame/frameworks/runtime-src/proj.ios_mac/CocosLuaGame.xcodeproj/xcuserdata/*.xcuserdatad
CocosLuaGame/frameworks/runtime-src/proj.ios_mac/DerivedData/*