1	background	背景	(0,1)	-427$-1135	1	image/level/background
1	island_left	左边的大岛屿	(0,1)	-427$1008	2	image/level/island_left
1	island_right	右边的大岛屿	(0,1)	83$473	2	image/level/island_right
1	smallIsland_1	下面的小岛	(0,1)	-303$178	3	image/level/smallIsland_1
1	smallIsland_2	上面的小岛	(0,1)	114$968	4	image/level/smallIsland_2
1	island_1	第1关	(0,1)	103$863	14	image/level/island
1	island_2	第2关	(0,1)	-5$636	15	image/level/island_locked
1	island_3	第3关	(0,1)	-195$410	16	image/level/island_locked
1	island_4	第4关	(0,1)	-94$184	17	image/level/island_locked
1	wave	波浪	(0,1)	-139$960	5	image/level/wave
1	wave	波浪	(0,1)	296$937	6	image/level/wave
1	wave	波浪	(0,1)	234$881	7	image/level/wave
1	wave	波浪	(0,1)	264$835	8	image/level/wave
1	wave	波浪	(0,1)	-46$620	9	image/level/wave
1	wave	波浪	(0,1)	345$595	10	image/level/wave
1	wave	波浪	(0,1)	-63$576	11	image/level/wave
1	wave	波浪	(0,1)	-266$331	12	image/level/wave
1	wave	波浪	(0,1)	-46$33	13	image/level/wave
2	background	背景	(0,1)	-427$-1135	1	image/level/background
2	island_left	左边的大岛屿	(0,1)	-427$1008	2	image/level/island_left
2	island_right	右边的大岛屿	(0,1)	83$473	2	image/level/island_right
2	smallIsland_1	下面的小岛	(0,1)	-303$178	3	image/level/smallIsland_1
2	smallIsland_2	上面的小岛	(0,1)	114$968	4	image/level/smallIsland_2
2	island_5	第5关	(0,1)	-37$1090	14	image/level/island_locked
2	island_6	第6关	(0,1)	103$863	15	image/level/island_locked
2	island_7	第7关	(0,1)	-5$636	16	image/level/island_locked
2	island_8	第8关	(0,1)	-195$410	17	image/level/island_locked
2	island_9	第9关	(0,1)	-94$184	18	image/level/island_locked
2	wave	波浪	(0,1)	-139$960	5	image/level/wave
2	wave	波浪	(0,1)	296$937	6	image/level/wave
2	wave	波浪	(0,1)	234$881	7	image/level/wave
2	wave	波浪	(0,1)	264$835	8	image/level/wave
2	wave	波浪	(0,1)	-46$620	9	image/level/wave
2	wave	波浪	(0,1)	345$595	10	image/level/wave
2	wave	波浪	(0,1)	-63$576	11	image/level/wave
2	wave	波浪	(0,1)	-266$331	12	image/level/wave
2	wave	波浪	(0,1)	-46$33	13	image/level/wave