1	background	0|1	0|1135	1	decoration	image/level/background.png	
1	island_left	0|1	0|1008	2	decoration	image/level/island_left.png	
1	island_right	0|1	510|473	2	decoration	image/level/island_right.png	
1	smallIsland_1	0|1	124|178	3	decoration	image/level/smallIsland_1.png	
1	smallIsland_2	0|1	541|968	4	decoration	image/level/smallIsland_2.png	
1	island_1	0.5|0.5	620|794	14	island	image/level/island.png	image/level/island_locked.png
1	island_2	0.5|0.5	512|567	15	island	image/level/island.png	image/level/island_locked.png
1	island_3	0.5|0.5	322|341	16	island	image/level/island.png	image/level/island_locked.png
1	island_4	0.5|0.5	423|115	17	island	image/level/island.png	image/level/island_locked.png
1	wave	0|1	288|960	5	decoration	image/level/wave.png	
1	wave	0|1	723|937	6	decoration	image/level/wave.png	
1	wave	0|1	661|881	7	decoration	image/level/wave.png	
1	wave	0|1	691|835	8	decoration	image/level/wave.png	
1	wave	0|1	381|620	9	decoration	image/level/wave.png	
1	wave	0|1	772|595	10	decoration	image/level/wave.png	
1	wave	0|1	364|576	11	decoration	image/level/wave.png	
1	wave	0|1	161|331	12	decoration	image/level/wave.png	
1	wave	0|1	381|33	13	decoration	image/level/wave.png	
2	background	0|1	0|1135	1	decoration	image/level/background.png	
2	island_left	0|1	0|1008	2	decoration	image/level/island_left.png	
2	island_right	0|1	510|473	2	decoration	image/level/island_right.png	
2	smallIsland_1	0|1	124|178	3	decoration	image/level/smallIsland_1.png	
2	smallIsland_2	0|1	541|968	4	decoration	image/level/smallIsland_2.png	
2	island_1	0.5|0.5	480|1021	14	island	image/level/island.png	image/level/island_locked.png
2	island_2	0.5|0.5	620|794	15	island	image/level/island.png	image/level/island_locked.png
2	island_3	0.5|0.5	512|567	16	island	image/level/island.png	image/level/island_locked.png
2	island_4	0.5|0.5	322|341	17	island	image/level/island.png	image/level/island_locked.png
2	island_5	0.5|0.5	423|115	18	island	image/level/island	image/level/island_locked.png
2	wave	0|1	288|960	5	decoration	image/level/wave.png	
2	wave	0|1	723|937	6	decoration	image/level/wave.png	
2	wave	0|1	661|881	7	decoration	image/level/wave.png	
2	wave	0|1	691|835	8	decoration	image/level/wave.png	
2	wave	0|1	381|620	9	decoration	image/level/wave.png	
2	wave	0|1	772|595	10	decoration	image/level/wave.png	
2	wave	0|1	364|576	11	decoration	image/level/wave.png	
2	wave	0|1	161|331	12	decoration	image/level/wave.png	
2	wave	0|1	381|33	13	decoration	image/level/wave.png	
2	cloud	0|1	-124|136	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	-124|55	99	cloud	image/level/cloud_4.png	
2	cloud	0|1	636|196	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	670|116	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	-88|0	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	161|25	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	288|34	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	55|34	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	288|34	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	608|40	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	663|40	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	554|42	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	608|1	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	498|-24	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	10|0	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	86|-54	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	-107|-92	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	86|-168	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	-86|-92	99	cloud	image/level/cloud_4.png	
2	cloud	0|1	269|-127	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	470|-127	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	452|-102	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	722|-127	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	772|-72	99	cloud	image/level/cloud_3.png	
2	cloud	0|1	-230|-136	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	-390|-188	99	cloud	image/level/cloud_5.png	
2	cloud	0|1	-143|-297	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	-400|-136	99	cloud	image/level/cloud_3.png	
2	cloud	0|1	86|-245	99	cloud	image/level/cloud_4.png	
2	cloud	0|1	96|-315	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	310|-284	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	419|-257	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	590|-257	99	cloud	image/level/cloud_4.png	
2	cloud	0|1	691|-324	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	810|-257	99	cloud	image/level/cloud_3.png	
2	cloud	0|1	-162|-344	99	cloud	image/level/cloud_2.png	
2	cloud	0|1	-71|-434	99	cloud	image/level/cloud_6.png	
2	cloud	0|1	72|-394	99	cloud	image/level/cloud_1.png	
2	cloud	0|1	310|-335	99	cloud	image/level/cloud_4.png	
2	cloud	0|1	498|-370	99	cloud	image/level/cloud_4.png	
2	cloud	0|1	250|-478	99	cloud	image/level/cloud_5.png	
2	cloud	0|1	661|-410	99	cloud	image/level/cloud_6.png	