<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_pressed_ciku_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,67}}</string>
                <key>sourceSize</key>
                <string>{126,67}</string>
            </dict>
            <key>button_pressed_ciku_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,67}}</string>
                <key>sourceSize</key>
                <string>{126,67}</string>
            </dict>
            <key>button_unpressed_ciku_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{125,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,67}}</string>
                <key>sourceSize</key>
                <string>{125,67}</string>
            </dict>
            <key>button_unpressed_ciku_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{125,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,67}}</string>
                <key>sourceSize</key>
                <string>{125,67}</string>
            </dict>
            <key>button_wordbook_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>button_wordmeaning_ciku.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>fenge_gray_ciku.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{854,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,7}}</string>
                <key>sourceSize</key>
                <string>{854,7}</string>
            </dict>
            <key>frontground_ciku.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{854,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{854,149}}</string>
                <key>sourceSize</key>
                <string>{854,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>download_package.png</string>
            <key>size</key>
            <string>{858,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5b487456d0b3bc384d51425fc1a9dda:2dd7efb95a32e07f8cca63ec0d56a23d:790a3527abb5a576f5a3a5f8af3e4cbf$</string>
            <key>textureFileName</key>
            <string>download_package.png</string>
        </dict>
    </dict>
</plist>
